<html th:attr="lang=${lang}" 
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      ​​xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
    <link th:href="@{/css/views/login.css}" rel="stylesheet">
  <body>
    <div class="login_form_container">
      <div class="login_form">
        <h2>Login</h2>
        <form method="POST" th:action="@{/login}">
        <div class="input_group">
          <i class="fa fa-user"></i>
          <input
            for="username"
            id="username" 
            name="username"
            type="text"
            placeholder="Username"
            class="input_text"
            autocomplete="off"
          />
        </div>
        <div class="input_group">
          <i class="fa fa-unlock-alt"></i>
          <input
            for="password"
            id="password" 
            name="password" 
            type="password"
            placeholder="Password"
            class="input_text"
            autocomplete="off"
          />
        </div>
        <div class="button_group" id="login_button" >
          <button class="btn btn-success" type="submit">
            <span class="btn"><i class="fas fa-sign-in-alt"></i>
                [[#{Iniciar sesion}]]</span></button>
        </div>
        <div class="fotter">
          <a>Forgot Password ?</a>
          <a>SingUp</a>
        </div>
      </form>
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../login.js"></script>
  </body>
</html>